.sign-up {
	display: grid;
	grid-template-areas:
		"illustration"
		"contents";
	gap: 1.5rem;

	background-color: var(--color-neutral-100);
	box-shadow: 0 0 2rem 1rem var(--color-neutral-900);
}

.sign-up__contents {
	grid-area: contents;

	padding-inline: 1.5rem;
	padding-block-start: 0.5rem;
	padding-block-end: 2.5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
}

/* Advantages list */

.sign-up__list {
	display: grid;
	gap: 0.75rem;
}

.sign-up__list-item {
	position: relative;
	padding-inline-start: 2.5rem;

	color: var(--color-neutral-400);
}

/* Custom bullet point for the list items */

.sign-up__list-item::before {
	content: url(../assets/images/icon-list.svg);
	position: absolute;
	left: 0;
}

/* Illustration */

.sign-up__illustration {
	grid-area: illustration;
}

.sign-up__image {
	width: 100%;
}

/* Form styles */

.form {
	padding-block-start: 1rem;

	display: grid;
	row-gap: 1.5rem;
}

.form__input-wrapper {
	display: grid;
	grid-template-areas:
		"label error"
		"input input";
	gap: 0.5rem;
}

.form__label,
.form__error {
	font-size: var(--font-size-100);
	font-weight: var(--font-weight-bold);
}

.form__label {
	grid-area: label;

	color: var(--color-neutral-900);
}

.form__error {
	justify-self: end;
	color: var(--color-primary-400);
}

.form__input {
	grid-area: input;

	width: 100%;
	height: 3.5rem;

	padding-inline: 1.5rem;

	outline: none;
	background-color: var(--color-neutral-100);
	border: 1px solid var(--color-neutral-200);
	border-radius: 0.5rem;

	color: var(--color-neutral-900);
}

/* Active states */

.form__input:hover {
	border-color: var(--color-neutral-900);
}

.form__input:focus {
	border: 2px solid var(--color-neutral-900);
}

.form__input--error,
.form__input--error:hover,
.form__input--error:focus {
	border-color: var(--color-primary-400);
	color: var(--color-primary-400);
	background-color: var(--color-primary-100);
}

.form__input--error::placeholder,
.form__input--error:hover::placeholder,
.form__input--error:focus::placeholder {
	color: var(--color-primary-400);
}

/* Media query */

@media screen and (min-width: 60rem) {
	.sign-up {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "contents illustration";

		max-width: 58rem;
		height: fit-content;

		padding: 1.5rem;

		border-radius: 2rem;
	}

	.sign-up__contents {
		padding-block: 0;
		padding-inline: 2.5rem;
	}
}
