.success {
	height: 100%;

	padding-inline: 1.5rem;
	padding-block-start: 9.25rem;
	padding-block-end: 2.5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.success__icon {
	padding-block-end: 2.5rem;
}

.success__heading {
	padding-block-end: 1.5rem;
}

.success__email-link {
	text-decoration: none;

	color: var(--color-neutral-900);
	font-weight: var(--font-weight-bold);
}

/* Active states */

.success__email-link:hover,
.success__email-link:focus {
	border-bottom: 1px solid;
}
