.app {
	height: 100vh;
	min-height: fit-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	background-color: var(--color-neutral-400);
}

@media screen and (min-width: 40rem) {
	.app {
		padding-inline: 2.5rem;
		padding-block: 4rem;
	}
}

@media screen and (min-width: 60rem) {
	.app {
		justify-content: center;
	}
}
